@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap");
@-webkit-keyframes fadin {
  0% {
    opacity: 100%;
  }
  50% {
    opacity: 50%;
  }
  100% {
    opacity: 100%;
  }
}
@keyframes fadin {
  0% {
    opacity: 100%;
  }
  50% {
    opacity: 50%;
  }
  100% {
    opacity: 100%;
  }
}

::-webkit-scrollbar {
  width: 10px;
  background-color: #531232;
}

::-webkit-scrollbar-thumb {
  background-color: white;
  -webkit-transition: all 300ms ease-in-out;
  transition: all 300ms ease-in-out;
}

::-webkit-scrollbar-thumb:hover {
  background-color: orange;
}

body,
html {
  font-size: 11pt;
  font-family: "Open Sans", sans-serif;
}

h1 {
  font-weight: 700;
  font-size: 2.62rem;
}

h2 {
  font-weight: 700;
  font-size: 1.62rem;
}

header {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  left: 0;
  right: 0;
  z-index: 999;
  background-color: #ffb6db;
}

header .burger {
  font-size: 2rem;
}

header .headeritems {
  margin: 0 1rem;
  font-weight: 700;
  height: 50px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

header .headeritems a {
  text-decoration: none;
  color: #531232;
}

header .headeritems .menus {
  -webkit-transition: all 300ms ease-in-out;
  transition: all 300ms ease-in-out;
}

header .headeritems .menus .block {
  background-color: #531232;
  color: #ffb6db;
  border-radius: 10px;
}

header .headeritems .menus a {
  margin: 0 20px;
  padding: 5px 15px;
}

header .headeritems .burger {
  cursor: pointer;
}

.intro {
  background-color: #8fc6f4;
  position: relative;
}

.intro .swiper-button-next,
.intro .swiper-button-prev {
  color: #ffb6db;
  margin: 1.62rem;
}

.intro .intoduction {
  text-align: center;
  position: absolute;
  top: 45%;
  left: 25%;
  right: 25%;
  color: white;
  z-index: 9;
}

.movie,
.music,
.step {
  background-color: #8fc6f4;
  padding: 50pt 50pt;
}

.movie img,
.music img,
.step img {
  width: 30vw;
}

.movie .text-2,
.music .text-2,
.step .text-2 {
  text-align: right;
}

.movie .row,
.music .row,
.step .row {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.movie .row .col-sm,
.music .row .col-sm,
.step .row .col-sm {
  margin: 0 5vw;
}

.movie a,
.music a,
.step a {
  text-decoration: none;
  color: inherit;
}

.music {
  background-color: #ffb6db;
}

.footer {
  background-color: #531232;
  color: #ffb6db;
  padding: 10pt 10pt;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

.inactive {
  display: none;
}

@media (min-width: 576px) {
  .burgercont {
    display: none;
  }
}

@media (max-width: 575px) {
  body,
  html {
    font-size: 9pt;
  }
  h1,
  h2 {
    font-size: 1.682rem;
  }
  .burger {
    z-index: 1000;
  }
  header .headeritems .menus {
    position: fixed;
    top: 45px;
    left: -100vw;
    background-color: #ffb6db;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 25vw 10pt;
    width: 100vw;
    height: 100vh;
    z-index: 80;
  }
  header .headeritems .menus a {
    display: block;
    margin-bottom: 10pt;
  }
  header .headeritems .menus.move {
    left: 0;
  }
  .movie .row,
  .music .row,
  .step .row {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .movie .row img,
  .music .row img,
  .step .row img {
    width: 50vw;
  }
}
/*# sourceMappingURL=style.css.map */